# --- Prototype Testing (.env) ---
# CHANNEL_ACCESS_TOKEN=
# GROUP_ID=
# USER_ID=

# --- Production Deployment (.env) ---
CHANNEL_ACCESS_TOKEN=
GROUP_ID=
USER_ID=

# --- ngrok settings ---
NGROK_AUTHTOKEN=
NGROK_DOMAIN=

# Set to True to show error messages for wrong commands. 
# Set to False to keep the bot completely silent during normal group conversations.
REPLY_UNKNOWN_COMMANDS=False

# Login scripts
LOGIN_MACRO_SCRIPT=